In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from datetime import datetime as dt

# You cannot run this demo yet
## You do not have some functions it imports
#### This notebook relies on the functions in `cmds/portfolio.py`, which it assumes is in the repo.

See the last three lines in the cell above. It calls the path to `portfolio.py` then it loads all the functions from `portfolio.py`.

In [2]:
import sys
sys.path.insert(0, '../cmds')
from portfolio import *

# Performance Metrics

In [3]:
equities = pd.read_excel("../data/industry_equity_data.xlsx", sheet_name = 'total returns')
equities.set_index('Date',inplace=True)

In [4]:
metrics = performanceMetrics(equities)
metrics.round(4)

        Mean     Vol  Sharpe     Min     Max  VaR (0.05)  CVaR (0.05)
AAPL  0.0272  0.1148  0.2366 -0.5774  0.4538     -0.1441      -0.2495
AMZN  0.0231  0.1319  0.1750 -0.4116  0.6218     -0.1763      -0.2775
GS    0.0106  0.0926  0.1150 -0.2751  0.3122     -0.1458      -0.1849
JPM   0.0107  0.0867  0.1238 -0.2807  0.2555     -0.1410      -0.2022
MSFT  0.0112  0.0820  0.1364 -0.3435  0.4078     -0.1204      -0.1678
SPY   0.0067  0.0433  0.1538 -0.1652  0.1270     -0.0747      -0.0973
XLB   0.0079  0.0592  0.1336 -0.2240  0.1734     -0.0918      -0.1289
XLE   0.0072  0.0719  0.1002 -0.3437  0.3076     -0.1110      -0.1554
XLF   0.0063  0.0621  0.1009 -0.2620  0.2179     -0.0920      -0.1537
XLI   0.0077  0.0541  0.1420 -0.1863  0.1807     -0.0912      -0.1281
XLK   0.0071  0.0655  0.1088 -0.2491  0.2477     -0.1146      -0.1552
XLP   0.0068  0.0345  0.1981 -0.1261  0.0850     -0.0556      -0.0828
XLU   0.0071  0.0430  0.1643 -0.1472  0.1321     -0.0644      -0.1015
XLV   0.0075  0.0406  0.1856 -0.1448  0.1259     -0.0651      -0.0874
XLY   0.0092  0.0529  0.1742 -0.1763  0.1888     -0.0852      -0.1147

In [5]:
max_drawdown = maximumDrawdown(equities)
max_drawdown.round(4)

      Max Drawdown       Peak     Bottom    Recover Peak to Recover
AAPL       -0.7918 2000-03-31 2003-03-31 2005-01-31       1767 days
AMZN       -0.9133 2000-02-29 2001-09-30 2007-05-31       2648 days
GS         -0.6786 2007-10-31 2008-11-30 2016-12-31       3349 days
JPM        -0.6455 2000-03-31 2002-09-30 2006-07-31       2313 days
MSFT       -0.6341 2000-03-31 2009-02-28 2014-03-31       5113 days
SPY        -0.5078 2007-10-31 2009-02-28 2012-03-31       1613 days
XLB        -0.5549 2008-05-31 2009-02-28 2013-04-30       1795 days
XLE        -0.6397 2014-06-30 2020-03-31        NaT             NaT
XLF        -0.7864 2007-05-31 2009-02-28 2017-07-31       3714 days
XLI        -0.5715 2007-09-30 2009-02-28 2011-04-30       1308 days
XLK        -0.8047 2000-03-31 2002-09-30 2017-01-31       6150 days
XLP        -0.3261 2000-12-31 2003-02-28 2006-12-31       2191 days
XLU        -0.4354 2000-10-31 2003-02-28 2005-03-31       1612 days
XLV        -0.3550 2007-11-30 2009-02-28 2011-04-30       1247 days
XLY        -0.5509 2007-05-31 2009-02-28 2011-02-28       1369 days

# OLS Regression

Here we use the package sci-kit learn for the OLS regression.
Many of you use statsmodels, which we used in the demo.

Both packages are widely used for OLS regression. Feel free to use either, but it is good to get exposure to both.

In [6]:
metrics_mkt = get_ols_metrics(equities['SPY'],equities,annualization=12)
metrics_mkt['Treynor'] = metrics['Mean'] / metrics_mkt['SPY']
metrics_mkt.round(4)

       alpha     SPY  r-squared  Info Ratio  Treynor
AAPL  0.2126  1.4179     0.2859      0.6326   0.0192
AMZN  0.1522  1.5605     0.2624      0.3880   0.0148
GS    0.0099  1.4758     0.4759      0.0424   0.0072
JPM   0.0200  1.3620     0.4620      0.0907   0.0079
MSFT  0.0434  1.1372     0.3603      0.1909   0.0098
SPY   0.0000  1.0000     1.0000         NaN   0.0067
XLB   0.0038  1.1405     0.6951      0.0338   0.0069
XLE  -0.0005  1.0882     0.4294     -0.0028   0.0066
XLF  -0.0206  1.1985     0.6978     -0.1740   0.0052
XLI   0.0012  1.1376     0.8301      0.0158   0.0067
XLK  -0.0181  1.2961     0.7334     -0.1541   0.0055
XLP   0.0405  0.5199     0.4253      0.4468   0.0131
XLU   0.0493  0.4453     0.2007      0.3697   0.0159
XLV   0.0312  0.7415     0.6248      0.3618   0.0102
XLY   0.0244  1.0789     0.7784      0.2829   0.0085

# Return Decomposition

In [7]:
idx = equities.columns.str.startswith('X')
industry_etfs = equities.loc[:,idx]
single_names = equities.drop(columns=list(industry_etfs.columns) + ['SPY'])

get_ols_metrics(industry_etfs,single_names,annualization=12)

,alpha,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY,r-squared,Info Ratio
AAPL,0.247457,0.216235,0.135408,-0.068933,-0.553527,1.448359,-0.179010,0.097443,-0.243450,0.062502,0.506494,0.885865
AMZN,0.141657,0.026832,-0.127262,-0.666861,0.283295,0.934870,-0.426833,-0.137389,0.729587,0.619539,0.436682,0.413140
GS,0.065111,0.422823,0.180801,0.882393,-0.350634,0.604713,-0.130914,-0.211163,-0.038016,-0.422790,0.603048,0.322152
JPM,0.073045,0.174006,-0.010925,1.353698,-0.441681,0.338446,-0.200497,-0.184024,0.090582,-0.234723,0.707946,0.449818
MSFT,0.057946,0.061424,-0.050252,0.125783,-0.338802,0.917164,-0.130949,0.063094,0.171358,0.072520,0.524597,0.295802