In [1]:
import pandas as pd
import numpy as np

import yfinance as yf

# Equity ETFs

In [2]:
info = pd.DataFrame(columns=['Description'])

info.loc['SPY'] = 'Domestic Equity SPDR S&P500'

# industry etfs
info.loc['XLY'] = 'Consumer Staples'
info.loc['XLP'] = 'Consumer Discretionary'
info.loc['XLE'] = 'Energy'
info.loc['XLF'] = 'Finance'
info.loc['XLV'] = 'Health Care'
info.loc['XLI'] = 'Industrial'
info.loc['XLB'] = 'Materials'
info.loc['XLK'] = 'Technology'
info.loc['XLU'] = 'Utilities'

# single-name stocks
info.loc['AAPL'] = 'Apple'
info.loc['AMZN'] = 'Amazon'
info.loc['MSFT'] = 'Microsoft'
info.loc['GS'] = 'Goldman Sachs'
info.loc['JPM'] = 'JP Morgan'

info

                      Description
SPY   Domestic Equity SPDR S&P500
XLY              Consumer Staples
XLP        Consumer Discretionary
XLE                        Energy
XLF                       Finance
XLV                   Health Care
XLI                    Industrial
XLB                     Materials
XLK                    Technology
XLU                     Utilities
AAPL                        Apple
AMZN                       Amazon
MSFT                    Microsoft
GS                  Goldman Sachs
JPM                     JP Morgan

In [3]:
tickers = list(info.index.values)
df = yf.download(tickers, start="1999-12-31", end="2021-09-30")['Adj Close']

[*********************100%***********************]  15 of 15 completed

In [4]:
prices = df.resample('M').last()
rets = prices.pct_change().iloc[1:,:]
rets

,AAPL,AMZN,GS,JPM,MSFT,SPY,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
Date,,,,,,,,,,,,,,,
2000-01-31,0.009118,-0.151888,-0.025871,0.044493,-0.161670,-0.049787,-0.122281,0.008074,-0.029586,-0.081795,-0.061485,0.008820,-0.017768,-0.025291,-0.124245
2000-02-29,0.104820,0.066796,0.009550,-0.013168,-0.086846,-0.015226,-0.100469,-0.042334,-0.107046,-0.055172,0.105068,-0.117014,-0.121538,-0.065387,-0.055715
2000-03-31,0.184842,-0.027223,0.137837,0.094977,0.188811,0.096914,0.100893,0.124423,0.182624,0.139206,0.083893,0.037593,0.109237,0.089950,0.141517
2000-04-30,-0.086516,-0.176306,-0.112878,-0.168445,-0.343530,-0.035120,-0.033220,-0.014925,0.009658,0.014446,-0.091847,0.053019,0.065459,-0.011717,-0.020822
2000-05-31,-0.322922,-0.124575,-0.211126,0.035528,-0.103046,-0.015722,-0.031557,0.117424,0.022322,-0.004220,-0.103977,0.071329,-0.002194,-0.026804,-0.053980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-31,-0.050497,-0.070470,0.071248,0.067811,-0.007627,0.006566,0.050819,0.057097,0.047711,0.031296,-0.009306,0.017677,-0.023381,0.018709,-0.033982
2021-06-30,0.099109,0.067355,0.020187,-0.052971,0.084989,0.022427,-0.052632,0.042339,-0.030394,-0.022795,0.068864,-0.005444,-0.022083,0.022989,0.034569
2021-07-31,0.064982,-0.032722,-0.012252,-0.018551,0.051716,0.024412,0.020775,-0.083163,-0.004633,0.009375,0.038873,0.022009,0.043334,0.049226,0.010529
2021-08-31,0.042489,0.043034,0.108406,0.053828,0.061591,0.029760,0.018924,-0.020045,0.051479,0.011126,0.035593,0.010488,0.038957,0.023156,0.017846
2021-09-30,-0.059277,-0.048885,-0.069212,0.037512,-0.059229,-0.034809,-0.057221,0.106045,-0.002732,-0.041119,-0.051589,-0.023846,-0.060549,-0.046816,-0.004830

In [5]:
with pd.ExcelWriter('industry_equity_data.xlsx') as writer:  
    info.to_excel(writer, sheet_name= 'descriptions')
    rets.to_excel(writer, sheet_name='total returns')
#    retsx.to_excel(writer, sheet_name='excess returns')